<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo"><img src="img/logo.jpg" alt="logo"></div>
            <ul class="footer-links">
                <li><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
</footer>