<header>
    <nav>
        <div class="logo">
            <a href="/"><img src="img/logo.jpg" alt=""></a>
        </div>
    
        <div class="menu">
            <a href="realtimeproducts">Añadir producto</a>|
            <a href="chat">Hablar con un Representante</a>|
            <a href="login">Log in</a>
            {{!-- <a href="realtimeproducts">Nutricion</a>
            <a href="realtimeproducts">Descartables</a> --}}
        </div>
    </nav>
</header>